################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/LinesCounter/FileContentIndex/60a39e9d-ca0a-41ad-845e-f1cb5d51d53e.vsidx
/.vs/LinesCounter/FileContentIndex
/.vs/VSWorkspaceState.json
/.vs/ProjectEvaluation/linescounter.projects.v5.2
/.vs/ProjectEvaluation/linescounter.metadata.v5.2
/LinesCounter/obj/project.nuget.cache
/LinesCounter/obj/project.assets.json
/LinesCounter/obj/LinesCounter.csproj.nuget.g.props
/LinesCounter/obj/LinesCounter.csproj.nuget.dgspec.json
/LinesCounter/obj/Debug/net6.0/LinesCounter.GeneratedMSBuildEditorConfig.editorconfig
/LinesCounter/obj/Debug/net6.0/LinesCounter.csproj.AssemblyReference.cache
/LinesCounter/obj/Debug/net6.0/LinesCounter.assets.cache
/.vs/LinesCounter/v17/.suo
/.vs/LinesCounter/v17/.futdcache.v2
